extend layout

block content
    p=asof
    
block table-content
    table#defects
        thead
            tr
                th Team Name
                th No. Defects
                
block chart-content
block chart-content-hist

            
            
    