/*
 * Import nib
 */
/*
 * Nib provides a CSS reset
 */
body {
  height: 100%;
}
.content {
  height: inherit;
  margin: 0px 0px;
}
.header {
  position: absolute;
  top: 0px;
  width: 99%;
  height: 100px;
  font: 30px Arial;
  font-variant: small-caps;
  text-align: center;
  color: #eaeaea;
  background-color: #2a2a2a;
  -webkit-box-shadow: 4px 4px 3px #502f18;
  box-shadow: 4px 4px 3px #502f18;
  margin: 0px 0px;
}
h1 {
  margin-top: 5px;
}
p {
  margin-top: 2px;
}
.main-content {
  position: absolute;
  top: 110px;
  left: 120px;
  height: 40px;
  width: 1530px;
  text-align: center;
  font: 25px Arial;
  color: #ccc;
  background-color: #2a2a2a;
  margin: auto;
  padding: 1px 4px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 3px #502f18;
  box-shadow: 4px 4px 3px #502f18;
}
.main-table {
  position: absolute;
  top: 160px;
  left: 120px;
  height: 390px;
  width: 750px;
  font: 20px Arial;
  color: #ccc;
  background-color: #2a2a2a;
  margin: auto auto;
  padding: 4px 4px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 3px #502f18;
  box-shadow: 4px 4px 3px #502f18;
}
table {
  position: relative;
  top: 40px;
}
.main-chart {
  position: absolute;
  top: 160px;
  left: 900px;
  width: 750px;
  height: 390px;
  color: #003265;
  background-color: #2a2a2a;
  margin: auto;
  padding: 4px 4px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 3px #502f18;
  box-shadow: 4px 4px 3px #502f18;
}
.main-chart-hist {
  position: absolute;
  top: 570px;
  left: 120px;
  width: 1530px;
  height: 390px;
  color: #003265;
  background-color: #2a2a2a;
  margin: auto;
  padding: 4px 4px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 3px #502f18;
  box-shadow: 4px 4px 3px #502f18;
}
.footer {
  position: absolute;
  bottom: 0px;
  width: 99%;
  height: 90px;
  font: 20px Arial;
  font-variant: small-caps;
  color: #eaeaea;
  background-color: #2a2a2a;
  -webkit-box-shadow: 4px -4px 3px #502f18;
  box-shadow: 4px -4px 3px #502f18;
  margin: 0px 0px;
}
body {
  background-color: #212121;
}
table {
  margin: auto;
  width: 400px;
}
thead {
  font-weight: bold;
  background-color: #2a2a2a;
}
td {
  border-bottom: 1px Solid #ccc;
}
